---
import IconCollection from '../IconCollection/IconCollection.astro';
import Slider from 'react-slick';
import AnimatedText from './AnimatedText.astro';

var settings = {
  dots: true,
  infinite: true,
  speed: 500,
  slidesToShow: 1,
  slidesToScroll: 1,
};
---

<div class='pt-[120px] md:pt-20 lg:pt-[140px] 2xl:pt-[100px]'>
  <div class='flex flex-col xxl:flex-row justify-between gap-8 md:gap-16'>
    <div class="flex flex-col">
      <AnimatedText
        text='about'
        dataValue='about'
        className='text-white max-w-[406px] w-full overflow-hidden text-[38px] md:text-[56px] xxl:text-7xl font-black font-craftworkGrotesk uppercase leading-[86px]'
        style=''
      />
      <AnimatedText
        text='me_'
        dataValue='me_'
        className='text-white block max-w-[406px] w-full overflow-hidden text-[38px] md:text-[56px] xxl:text-7xl font-black font-craftworkGrotesk uppercase leading-[86px]'
        style=''
      />
    </div>

    <div
      class='max-w-full xxl:max-w-[874px] w-full h-auto p-6 md:p-16 bg-blue-700/10 rounded-3xl border-2 border-transparent backdrop-blur-[44px] flex-col justify-start items-end gap-8 inline-flex'
    >
      <div
        class='self-stretch justify-start items-start gap-8 md:gap-16 flex-col md:flex-row inline-flex'
      >
        <div class='flex-col justify-start items-center gap-9 inline-flex'>
          <div class='w-40 h-40 relative'>
            <IconCollection icon='hackerIcon' class='w-40 h-40' />
          </div>
          <a
            href=''
            class='px-8 py-4 bg-lime-500 rounded-[100px] justify-start items-center gap-2.5 hidden md:inline-flex'
          >
            <div
              class='text-neutral-900 text-lg font-medium font-generalSans leading-[18px]'
            >
              Download Resume
            </div>
          </a>
        </div>
        <div
          class='grow shrink basis-0 flex-col justify-start items-start gap-6 inline-flex'
        >
          <div
            class='self-stretch text-white text-2xl md:text-[32px] font-semibold font-generalSans'
          >
            Subtitle here
          </div>
          <div
            class='self-stretch text-white text-base md:text-lg font-normal font-generalSans leading-[28.80px]'
          >
            Highly experienced Digital Forensics and Incident Response (DFIR)
            with 8 years of programming, tool development experience, within
            various cybersecurity domains, with a particular focus against
            Advanced Persistent Threats (APTs).
          </div>
          <a
            href=''
            class='px-8 py-4 bg-lime-500 rounded-[100px] justify-start items-center gap-2.5 inline-flex md:hidden'
          >
            <div
              class='text-neutral-900 text-lg font-medium font-generalSans leading-[18px]'
            >
              Download Resume
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <a
    href=''
    class='w-full h-auto md:h-24 px-8 py-8 md:py-4 bg-white/0 rounded-3xl border-2 mt-8 md:mt-16 xxl:mt-20 border-white backdrop-blur-[44px] justify-end items-end gap-5 inline-flex'
  >
    <div
      class='grow shrink basis-0 h-auto md:h-16 justify-start items-center gap-5 flex'
    >
      <div
        class='grow shrink basis-0 h-auto md:h-7 px-0 md:px-4 justify-start items-center gap-2.5 flex'
      >
        <div
          class='grow shrink basis-0 text-white/90 text-xl md:text-[28px] font-bold font-craftworkGrotesk leading-7'
        >
          Want to work with you!
        </div>
      </div>
      <IconCollection icon='arrowRight' className='w-16 h-16' />
    </div>
  </a>
</div>
